<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">
    <div ng-repeat="widget in model.widgets">
        <div class="toolbar-right">
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                <button type="button" class="btn btn-default">
                    <a ng-href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
        </div>
        <div ng-switch="widget.widgetType">
            <div ng-switch-when="HTML">
                <div ng-bind-html="widget.html"></div>
            </div>
            <div ng-switch-when="heading">
                <div ng-switch="widget.size">
                    <div ng-switch-when=1>
                        <h1>{{widget.text}}</h1>
                    </div>
                    <div ng-switch-when=2>
                        <h2>{{widget.text}}</h2>
                    </div>
                    <div ng-switch-when=3>
                        <h3>{{widget.text}}</h3>
                    </div>
                    <div ng-switch-when=4>
                        <h4>{{widget.text}}</h4>
                    </div>
                    <div ng-switch-when=5>
                        <h5>{{widget.text}}</h5>
                    </div>
                    <div ng-switch-when=6>
                        <h6>{{widget.text}}</h6>
                    </div>
                </div>
            </div>
            <div ng-switch-when="image">
                <img ng-src="{{widget.trust_url}}"
                     width="{{widget.width}}"
                     class="img-responsive"
                     alt="Responsive image">
            </div>
            <div ng-switch-when="youtube">
                <iframe ng-src="{{widget.trust_url}}"
                        width="{{widget.width}}"
                        height="300px"
                        frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>

<ng-include src="'./views/fix-content/template/footer.view.client.html'"></ng-include>