<form class="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="model.widget.name"
               type="text"
               class="form-control"
               id="image-name"
               placeholder="Image Name">
    </div>
    <div class="form-group">
        <label for="url">URL</label>
        <input ng-model="model.widget.url"
               type="text"
               class="form-control"
               id="image-url"
               placeholder="Image URL">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input ng-model="model.widget.width"
               type="text"
               class="form-control"
               id="image-width"
               placeholder="Image Width">
    </div>
    <div class="form-group">
        <label for="upload">Upload</label>
        <input type="file" class="form-control" id="image-upload">
    </div>
</form>
<a class="btn btn-primary btn-block"
   href="">Upload</a>
