<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-href="#/user/{{model.userId}}/website" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand">
                Edit Website
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWebsite(model.website)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">

    <form class="form">
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.website.name"
                   type="text"
                   class="form-control"
                   id="website-name"
                   placeholder="Name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea ng-model="model.website.description"
                      class="form-control"
                      rows="4"
                      placeholder="Description"></textarea>
        </div>
    </form>
    <a class="btn btn-danger btn-block"
       ng-click="model.deleteWebsite()">Delete</a>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a ng-href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>
