input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.navbar-default {
    background-color: #428BCA;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.table {
    margin-top: 5%;
}

.form {
    margin-top: 5%;
}