<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="../website/website-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <div ng-repeat="page in model.pages">
                <a href="../widget/widget-list.html">{{page.name}}</a>
                <a class="pull-right" href="page-edit.html">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </li>

    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
        <p class="navbar-text pull-right">
            <a href="../user/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
        </div>
    </div>
</nav>
