<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Edit Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="hidden-xs col-md-3">
            <div class="navbar-header">
                <p class="navbar-text pull-left">
                    <a href="../website/website-list.html" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left">
                        </span>
                    </a>
                </p>
                <a class="navbar-brand" href="#">
                    Pages
                </a>
                <p class="navbar-text pull-right">
                    <a href="page-new.html" class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                    </a>
                </p>
            </div>
        </div>
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="page-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Edit Page
            </a>
            <p class="navbar-text pull-right">
                <a href="page-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-ok">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-md-3">
            <table class="table">
            <tbody>
                <tr>
                    <td><a href="../widget/widget-list.html">Blog Post</a></td>
                    <td>
                        <a class="btn btn-primary pull-right"
                        href="page-edit.html">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><a href="../widget/widget-list.html">Blogs</a></td>
                    <td>
                        <a class="btn btn-primary pull-right"
                        href="page-edit.html">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><a href="../widget/widget-list.html">Home</a></td>
                    <td>
                        <a class="btn btn-primary pull-right"
                        href="page-edit.html">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><a href="../widget/widget-list.html">About</a></td>
                    <td>
                        <a class="btn btn-primary pull-right"
                        href="page-edit.html">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><a href="../widget/widget-list.html">Contact Us</a></td>
                    <td>
                        <a class="btn btn-primary pull-right"
                        href="page-edit.html">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div class="col-md-9">
            <form class="form">
                <div class="form-group">
                    <label for="username">Name</label>
                    <input type="text" class="form-control" id="website-name" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="page-title" placeholder="Page Title">
                </div>
            </form>
            <a class="btn btn-danger btn-block"
               href="page-list.html">Delete</a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
        <p class="navbar-text pull-right">
            <a href="../user/profile.html" class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
        </div>
    </div>
</nav>

</body>
</html>