<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <input ng-model="model.user.username"
            class="form-control"
            type="text"
            placeholder="Username"/>
        <input ng-model="model.user.password"
            class="form-control"
            type="password"
            placeholder="Password"/>
        <input ng-model="model.user.password-again"
            class="form-control"
            type="password"
            placeholder="Password Again"/>
        <a class="btn btn-primary btn-block"
           href="profile.html">Register</a>
        <a class="btn btn-danger  btn-block"
           href="login.html">Cancel</a>
    </div>
</body>
</html>