<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Choose Widgets
            </a>
        </div>
    </div>
</nav>


<div class="container">
    <table class="table">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><a href="widget-heading.html">Header</a></td>
        </tr>
        <tr>
            <td>
                <a href="widget-image.html">Image</a></td>
        </tr>
        <tr>
            <td><a href="widget-youtube.html">YouTube</a></td>

        </tr>
        </tbody>
    </table>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text pull-right">
                <a href="../user/profile.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>