<form class="form">
    <div class="form-group">
        <label for="url">URL</label>
        <input ng-model="model.widget.url"
               type="text"
               class="form-control"
               id="youtube-url"
               placeholder="YouTube URL">
    </div>
    <div class="form-group">
        <label for="width">Width</label>
        <input ng-model="model.widget.width"
               type="text"
               class="form-control"
               id="youtube-width"
               placeholder="YouTube Width">
    </div>
</form>